# Aliases

{{ if (eq .chezmoi.osRelease.id "void") }}
# Alias for gpg2 on voidlinux
alias gpg=gpg2
{{- end }}

# ls aliases
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -la'

# 'micro' is not a good sequence for typing fast
alias m=micro


# --- Aliases for git ---

alias gadd='git add'
alias gmv='git mv'
alias grm='git rm'

alias gba='git branch -a'
alias gbd='git branch -d'
alias gbdd='git branch -D'

alias gco='git checkout'
alias gcob='git checkout -b'

alias gcm='git commit'

alias gpu='git pull'
alias gpp='git pull -p'

alias gpsh='git push'

alias gss='git status -s'
alias gsv='git status -v'
alias gsvv='git status -vv'
