{
    "backup": false,
    {{- if (and (eq .chezmoi.os "linux") (contains "Microsoft" .chezmoi.kernel.osrelease)) }}
    "clipboard": "terminal",
    {{- else }}
    "clipboard": "internal",
    {{- end }}
    "colorscheme": "one-dark",
    "diffgutter": true,
    "mkparents": true,
    "savehistory": false,
    "statusformatl": "$(filename) $(modified)($(line),$(col) $(percentage)% $(lines)) $(status.paste)| ft:$(opt:filetype) | $(opt:fileformat) | $(opt:encoding)",
    "tabstospaces": true
}
